.hero-image {
  z-index: 100;
}

.hero-image img {
  max-height: 100vh;
  margin-left: 10rem;
  margin-bottom: -5rem;
}

.call-to-action span {
  font-family: "Qwitcher Grypen", cursive;
  font-size: 15rem;
  color: #f87c87;
  display: block;
  text-align: end;
}

.call-to-action p {
  font-size: 2.4rem;
  word-spacing: 0.2rem;
  margin: 3.2rem 0;
}
